.countWords-results-header {
    font-weight: bold;
    font-size:large;
    padding: 15px;
}

.countWords-results-frequency-header {
    font-weight: bold;
    font-size:large;
    padding: 15px;
}

.countWords-results-stat {
    font-size:medium;
    padding-left: 15px;
    width: 240px;
}

.countWords-results-frequency {
}
