.countWords-results-header {
    font-weight: bold;
    font-size:large;
    padding: 15px;
}

.countWords-results-frequency-header {
    font-weight: bold;
    font-size:large;
    padding: 15px;
}

.countWords-results-stat {
    font-size:medium;
    padding-left: 15px;
    width: 200px;
}

.countWords-results-frequency-first {
    width: 200px;
    float: left;
    margin-right:20px;
}

.countWords-results-frequency-second {
    width: 250px;
    margin-left:20px;
    float: right;
}

.countWords-results-datacard {
    float: left;
    margin-bottom: 10px;
}